body{
    padding-top: 12px;
}


.container{
    /* border: 2px solid darkblue; */
    height: 100vh;
  
}

.con1{
    /* border: 2px solid green; */
    height: 30vh;
    margin-top: 20px;
}

.input{
    float: right;
    margin: 5px 5px;
    border: 2px solid rgb(13, 130, 165);
}


::placeholder{
    font-family: Roboto;
    color: grey;
}

.title{
    color: #5e1309;
    font-size: 33px;
    padding-top: 18px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-family: Futura;
    font-weight: bolder;
    
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
}

.row > * {
    flex-basis: 14.15rem;
    flex-shrink: 0;

}

.row .card {
    display: flex;
    flex-direction: column;

}

.row .card > .card-content {
    flex-grow: 1;
}

.row .card > .card-image {
    flex-basis: 19rem;
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: rgb(104, 52, 52);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.card{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.card-title{
    font-family: Futura;
}

.card-text{
    font-family: Futura;
}
.form-control{
    border: 2px solid #dabebb;
}
.form-control:focus{
    border: none;
    box-shadow:  0 0 7px  #a52413;
}

.btn{
    background-color: #a52413;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn:hover{
    color: #cfb5b3;
}

.btn:focus{
    border: none;
    outline: none;
    box-shadow: none;
}
body::-webkit-scrollbar {
    width: 15px;             
  }
  
::-webkit-scrollbar{
    height: 11px;
    background: #a10b0b;    
}

::-webkit-scrollbar-track {
    background: #f3d5c1;       
  }
  body::-webkit-scrollbar-track {
    background: #a10b0b;       
  }

::-webkit-scrollbar-thumb {
background-color :#a10b0b;       
border: 1px solid #f3d5c1;  
}
  
  body::-webkit-scrollbar-thumb {
    background-color: #f3d5c1;       
    border: 1px solid #a10b0b;  
  }

.h1{
    font-size: 32px;
    color: #a10b0b;
    font-family: Futura;
}

h3{
    font-family: Futura;
}

a{
    color: #5e1309;
}
p{
    font-family: Futura;
    font-weight: light;
    color: rgb(167, 165, 165);
}

a:hover{
    text-decoration: none;
    color: #5e1309;
}

.showRecipe{
    display: block;
}

.anime-details-content{
    margin: 2rem;
}
.anime-details-content p:not(.anime-category){
    padding: 1rem 0;
}
.anime-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.anime-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.anime-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.anime-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.anime-instruct{
    padding: 1rem 0;
}
.anime-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}


