body{
    padding-top: 12px;
}


.container{
    /* border: 2px solid darkblue; */
    height: 100vh;
  
}

.con1{
    /* border: 2px solid green; */
    height: 30vh;
    margin-top: 20px;
}

.input{
    float: right;
    margin: 5px 5px;
    border: 2px solid rgb(13, 130, 165);
}


::placeholder{
    font-family: Roboto;
    color: grey;
}

.title{
    color: #5e1309;
    font-size: 33px;
    padding-top: 18px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-family: Futura;
    font-weight: bolder;
    
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: left;
}

.row > * {
    flex-basis: 14.15rem;
    flex-shrink: 0;

}

.row .card {
    display: flex;
    flex-direction: column;

}

.row .card > .card-content {
    flex-grow: 1;
}

.row .card > .card-image {
    flex-basis: 19rem;
    flex-shrink: 0;
    overflow-y: hidden;
    background-color: rgb(104, 52, 52);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.card{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
